.city-combat-screen {
    display: none;
    /* The combat screen is not yet in use, but this screen details what combat will look like between land armies
    currently, when combat is taking place in a city or possible even in open terrain, open up this screen by setting
     display to flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 46vh;
    left: 0px;
    width: 24vw;
    height: 52vh;
    border: 2px solid black;
    border-top-right-radius: 12px;
    background: rgb(40,40,40);
    min-width: 300px;
    min-height: 490px;
}

.defender-stats {
    height: 30%;
    width: 96%;
}

.combat-action-screen {
    height: 36%;
    width: 96%;
    overflow: hidden;
}

.attacker-stats {
    height: 30%;
    width: 96%;
}

.defender-name-info-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.attacker-name-info-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.defender-name {
    text-shadow: 0px 0px 6px rgb(85,85,85);
    font-size: 3vh;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 1vh;
}

.attacker-name {
    text-shadow: 0px 0px 6px rgb(85,85,85);
    font-size: 3vh;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 2vh;
}

.unit-display-container {
    display: flex;
    width: 98%;
    overflow-x: auto;
}

.defender-units-info {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.attacker-units-info {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.defender-infantry-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vw;
    padding-left: 4px;
    padding-right: 4px;
}

.attacker-infantry-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vw;
    padding-left: 4px;
    padding-right: 4px;
}

.combat-unit-img {
    width: 5vw;
    min-width: 65px;
}

.defender-infantry-manpower {
    color: white;
    font-size: 14px;
}

.attacker-infantry-manpower {
    color: white;
    font-size: 14px;
}

.defender-tank-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
}

.attacker-tank-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
}

.combat-tank-img {
    width: 90%;
}

.defender-tank-manpower {
    color: white;
    font-size: 14px;
}

.attacker-tank-manpower {
    color: white;
    font-size: 14px;
}

.defender-morale-div {
    width: 100%;
    height: 5px;
    background: red;
}

.current-defender-morale {
    width: 70%;
    height: 5px;
    background: green;
}

.combat-window {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.combat-roll-window {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.defender-rolls-div {
    width: 40%;
    height: 100%;
    background: black;
    margin-left: 0px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.defender-roll {
    margin-right: 18px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 3vh;
    width: 3vh;
    background: rgb(200,200,200);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px black;
    border: 1px solid grey;
    border-radius: 0.6vh;
    font-weight: bold;
    font-size: 2vh;
}

.defender-bonus {
    margin-right: 18px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 3vh;
    width: 3vh;
    background: rgb(255,255,200);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px black;
    border: 1px solid grey;
    border-radius: 0.6vh;
    font-weight: bold;
    font-size: 2vh;
}

.attacker-rolls-div {
    width: 40%;
    height: 100%;
    background: black;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.attacker-roll {
    margin-left: 18px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 3vh;
    width: 3vh;
    background: rgb(200,200,200);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px black;
    border: 1px solid grey;
    border-radius: 0.6vh;
    font-weight: bold;
    font-size: 2vh;
}

.attacker-bonus {
    margin-left: 18px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 3vh;
    width: 3vh;
    background: rgb(255,255,200);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px black;
    border: 1px solid grey;
    border-radius: 0.6vh;
    font-weight: bold;
    font-size: 2vh;
}

.attacker-morale-div {
    width: 100%;
    height: 5px;
    background: red;
}

.current-attacker-morale {
    width: 70%;
    height: 5px;
    background: green;
}

.combat-units-window {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.defender-combat-units {
    height: 100%;
    width: 50%;
    margin-left: 0px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.attacker-combat-units {
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.defender-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.defender-unit {
    width: 22px;
    margin-top: 2px;
    margin: 1px;
    margin-bottom: 10px;
    opacity: 0;
}

.attacker-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attacker-unit {
    width: 22px;
    margin-top: 2px;
    margin: 1px;
    margin-bottom: 10px;
    opacity: 0;
}

.attacker-name-tooltip {
  background-color: rgb(200,200,200);
  color: black;
  border-radius: 2px;
  padding: 2px 12px;
  top: -3vh;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  font-family: sans-serif;
}

.attacker-name-info-container:hover .attacker-name-tooltip {
    opacity: 0.8;
}

.defender-name-tooltip {
  background-color: rgb(200,200,200);
  color: black;
  border-radius: 2px;
  padding: 2px 12px;
  top: -2vh;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
  font-family: sans-serif;
}

.defender-name-info-container:hover .defender-name-tooltip {
    opacity: 0.8;
}
