.unit-interaction {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 24vw;
    width: 26vw;
    height: 20vh;
    border: 2px solid black;
    border-bottom: none;
    background: rgb(40,40,40);
    min-width: 300px;
    min-height: 200px;
}

@media all and (max-width: 1235px) {
    .unit-interaction{
        left: 300px;
    }
}
/* This code is sop that the unit interaction screen does not overlap the city interaction screen in small windows */

.top-unit-view {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 98%;
    border-bottom: 2px solid black;
}

.unit-group-btn {
    padding: 12px 8px;
    background: rgb(60,60,60);
    color: white;
    font-weight: bold;
    border: 5px solid rgb(80,80,80);
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
    transition-duration: 100ms;
}

.unit-group-btn:hover {
    transform: translateY(1px);
    background: rgb(45,45,45);
    cursor: pointer;
}

.unit-move-btn {
    padding: 10px 6px;
    margin-bottom: 6px;
    border: 2px solid grey;
    border-radius: 3px;
    background: rgb(60,40,120);
    color: white;
    transition-duration: 100ms;
}

.unit-move-btn:hover {
    background: rgb(60,40,100);
    cursor: pointer;
}

.close-interactions-btn {
    padding: 8px 4px;
    margin-bottom: 10px;
    background: rgb(160,20,20);
    color: white;
    transition-duration: 100ms;
}

.close-interactions-btn:hover {
    border: none;
    margin: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

.bottom-unit-view {
    height: 65%;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
}

.unit-div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.unit-name {
    margin: 0;
    font-family: sans-serif;
    margin-bottom: 2px;
    color: white;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.unit-name:hover {
    cursor: pointer;
}

.unit-icon {
    width: 3.2vw;
    min-width: 40px;
}

.unit-icon:hover {
    cursor: pointer;
}

.unit-amount {
    margin: 0;
    font-family: sans-serif;
    margin-top: 2px;
    color: white;
}

.unit-move-interaction-land {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    position: fixed;
    bottom: 21vh;
    left: 24vw;
    width: 26vw;
    height: 20vh;
    border: 2px solid black;
    border-top-right-radius: 12px;
    background: rgb(40,40,40);
    min-width: 300px;
    min-height: 200px;
    opacity: 0.96;
    border-bottom: none;
}

.unit-move-interaction-naval {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    position: fixed;
    bottom: 21vh;
    left: 24vw;
    width: 26vw;
    height: 20vh;
    border: 2px solid black;
    border-top-right-radius: 12px;
    background: rgb(40,40,55);
    min-width: 300px;
    min-height: 200px;
    opacity: 0.96;
    border-bottom: none;
}

.unit-move-interaction-space {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    position: fixed;
    bottom: 21vh;
    left: 24vw;
    width: 26vw;
    height: 20vh;
    border: 2px solid black;
    border-top-right-radius: 12px;
    background: rgb(50,35,50);
    min-width: 300px;
    min-height: 200px;
    opacity: 0.96;
    border-bottom: none;
}

.unit-move-interaction-air {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    position: fixed;
    bottom: 21vh;
    left: 24vw;
    width: 26vw;
    height: 20vh;
    border: 2px solid black;
    border-top-right-radius: 12px;
    background: rgb(55,55,65);
    min-width: 300px;
    min-height: 200px;
    opacity: 0.96;
    border-bottom: none;
}

.unit-type-move-container {
    display: none;
    width: 90%;
    padding: 4px;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid grey;
}

.unit-move-icon {
    width: 4vw;
    min-width: 32px;
}

.unit-move-options {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unit-move-range {
    width: 90%;
}

.unit-move-options-btns {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.unit-move-option-btn {
    padding: 4px 8px;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 6px;
    border: 2px solid grey;
    border-radius: 3px;
    background: rgb(60,40,120);
    color: white;
    transition-duration: 100ms;
}

.move-btn-open {
    background: rgb(80,80,140);
}

.unit-move-option-btn:hover {
    background: rgb(60,40,100);
    transform: translateY(1px);
    cursor: pointer;
}

.current-move-amount {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10%;
    margin-top: 2px;
}

.embark-button {
    display: none;
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
    border: none;
    background: radial-gradient(rgb(0,0,200), rgb(0,0,200), rgb(0,0,200), rgb(40,40,40), rgb(40,40,40));
    color: white;
    padding: 8px;
    font-family: sans-serif;
    transition-duration: 200ms;
}

.embark-button:hover {
    background: radial-gradient(rgb(0,0,150), rgb(0,0,150), rgb(0,0,150), rgb(40,40,40), rgb(40,40,40));
    cursor: pointer;
}

#embark-button-space-infantry {
    background: radial-gradient(rgb(150,0,0), rgb(150,0,0), rgb(150,0,0), rgb(40,40,40), rgb(40,40,40));
}

#embark-button-space-infantry:hover {
    background: radial-gradient(rgb(100,0,0), rgb(100,0,0), rgb(100,0,0), rgb(40,40,40), rgb(40,40,40));
}

#embark-button-space-marines {
    background: radial-gradient(rgb(150,0,0), rgb(150,0,0), rgb(150,0,0), rgb(40,40,40), rgb(40,40,40));
}

#embark-button-space-marines:hover {
    background: radial-gradient(rgb(100,0,0), rgb(100,0,0), rgb(100,0,0), rgb(40,40,40), rgb(40,40,40));
}

.embark-img-infantry {
    display: none;
    position: absolute;
    top: 20%;
    bottom: auto;
    width: 24px;
    height: 24px;
}

.embark-img-tank {
    display: none;
    position: absolute;
    top: 20%;
    bottom: auto;
    width: 24px;
    height: 24px;
}

.embark-img-aircraft {
    display: none;
    position: absolute;
    top: 20%;
    bottom: auto;
    width: 24px;
    height: 24px;
}

.embark-img-marines {
    display: none;
    position: absolute;
    top: 20%;
    bottom: auto;
    width: 24px;
    height: 24px;
}

.embark-img-space-infantry {
    display: none;
    position: absolute;
    top: 5%;
    bottom: auto;
    width: 24px;
    height: auto;
}

.embark-img-space-marines {
    display: none;
    position: absolute;
    top: 5%;
    bottom: auto;
    width: 24px;
    height: auto;
}